# Ignore all MP4 video files
*.mp4

# Ignore CSV files (including ones in root and subdirectories)
*.csv

# Ignore specific folders
/standard/
/player_analysis/
/output/
/frames/
/.idea/  

# Ignore specific CSV files inside the ML directory
